body{
    text-align: center;
}

.img1,.img3{
    position:relative;
    margin-left:50px;margin-right: 50px;
    z-index: -2;
    max-width: 25%;
    height:75%;
}
.img2{
    position: absolute;
    top:10%;
    left: 47%;
    z-index: -2;
    height:10rem;
}
.img3{
    position: absolute;
    right:15%;
}
.img1{
    position: absolute;
    left:15%;
}
.image{
    display: inline-block;
}

.middle1, .middle2{
    z-index: -2;
    position:absolute;
    top:15rem;
    width: 20%;
}

.top1, .top2{
    z-index: -2;
    position:absolute;
    top:-5%;
    width: 30%;
}

.bottom1, .bottom2{
    position:absolute;
    z-index: -2;
    bottom:-5%;
    width:20%;
}

.top1{
    left:-10%;
}
.top2{
    right:-10%;
}
.middle1{
    left:-5%;
}
.middle2{
    right:-5%;
}
.bottom1{
    left:-5%;
}
.bottom2{
    right:-5%;
}

#hpdmain{
    position: absolute;
    top:34%;
    left:45%;
    font-size:400%;
    font-family: 'Zen Loop', cursive;
    color: #FF63B1;
}

.wish{
    position: absolute;
    top:85%;
    left:15%;
    font-size:200%;
    font-family: 'Cinzel', serif;
    color: #004AAD;
    z-index: -1;
}

.button1{
    position:absolute;
    top:70%;
    left:45%;
    z-index:100;
    
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
#confetti{
    position: absolute;
    z-index: -1;
    top:0px;
    left:0px;
    
}
#play{
    z-index: 100;
}

#copyright{
    position: absolute;
    top:100%;
    text-align:center;
    width:100%;
    color:#666
} 

 #copyright a{
    color:#666
}

@media only screen and (max-width:70em) { 
	.img1,.img3{
        z-index: -2;
        max-width: 25%;
        height:50%;
    }
    .img2{
        position: absolute;
        top:10%;
        left: 41%;
        z-index: -2;
        height:10rem;
    }
    .img3{
        right:0;
    }
    .img1{
        left:0;
    }
    .button1{
        top:70%;
        left:35%;
    }
    #hpdmain{
        position: absolute;
        top:34%;
        left:37%;
        font-size:400%;
    }
    
    .wish{
        position: absolute;
        top:85%;
        left:15%;
        font-size:90%;
    }
}