body{
    height:fit-content;
    text-align: center;
}

.img1,.img2,.img3{
    outline: 5px solid #1189D9;
    outline-offset: -5px;
    z-index: -2;
}
.img2{
    opacity: 0.9;
}
.image{
    gap:1rem;
    display: flex;
}
.centerdiv{
    position: relative;
    /* background-image:url("/static/img2.jpg"); */
    display:flex;
    flex-direction: column;
    width: 100%;
}

#hpdmain{
    position:absolute;
    top:5%;
    left: 50%;
    transform: translateX(-50%);
    font-size:5rem;
    font-family: 'Zen Loop', cursive;
    color: #5c65eb;
}
.image p{
    font-family: 'Merienda', cursive;
    font-size: 20px;
    background: -webkit-linear-gradient(red, #5fc406,red,#5fc406,rgb(226, 80, 105));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wish{
    position:absolute;
    margin:0;
    bottom:0.5rem;
    font-size:1rem;
    font-family: 'Cinzel', serif;
    color: #09c59a;
    z-index: -1;
}

.button1{
    position:absolute;
    z-index:100;
    top:65%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100rem;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  display: inline-block;
  font-size: 1.5rem;
}

.middle1, .middle2{
    z-index: -2;
    position:absolute;
    top:15rem;
    width: 20%;
}

.top1, .top2{
    z-index: -2;
    position:absolute;
    top:-5%;
    width: 30%;
}

.bottom1, .bottom2{
    position:absolute;
    z-index: -2;
    bottom:-5%;
    width:20%;
}

.top1{
    left:-10%;
}
.top2{
    right:-10%;
}
.middle1{
    left:-5%;
}
.middle2{
    right:-5%;
}
.bottom1{
    left:-5%;
}
.bottom2{
    right:-5%;
}


#confetti{
    position: absolute;
    width:100vw;
    z-index: -1;
    top:0px;
    left:0px;
    
}
#play{
    z-index: 100;
}

#copyright{
    text-align:center;
    width:100%;
    color:#666
} 

 #copyright a{
    color:#666
}



@media only screen and (max-width:800px) {
    .image{
        flex-direction: column;
    }
    
}
